body {
    margin: 0;
}

header {
    padding: 5px 0;
    color: white;
    text-align: center;
    background-color: blue;
}

nav {
    padding: 10px;
    width: 20%;
}

nav input,
nav button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}