body {
    margin: 0;
}

header {
    padding: 5px 0;
    color: white;
    text-align: center;
    background-color: blue;
}

main {
    display: flex;
}

nav {
    padding: 10px;
    width: 20%;
}

nav input,
nav button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

nav > button {
    background-color: aqua;
}

nav div {
    border-top: 1px solid black;
    margin: 15px 0;
    padding-top: 5px;
}

nav div button {
    background-color: lightgrey;
}

/* Color Guage */
.low {
    color: white;
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.veryhigh {
    color: white;
    background-color: red;
}

.extreme {
    color: white;
    background-color: purple;
}

/* forcast */
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
}

img {
    vertical-align: middle;
}